@font-face {
  font-family: Trek;
  src: url(./resources/FEC_____.TTF);
}

* {
	/*border: 1px solid red;*/
}

body {
	background-color: lavender;
	font-family: "Trek", cursive;
	/*font-style: italic;*/
	margin: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 90, 0.5)), url("./resources/space.jpg");
}

p {
	font-size: 38px;
	color: rgb(144, 104, 232);
	font-family: "Orbitron", sans-serif;
  text-shadow: 1px 1px rgb(17, 241, 244);
}

h1 {
	font-family: "Trek", cursive;
	font-size: 104px;
	color: rgb(110, 58, 224);
	text-shadow: 1px 1px rgb(17, 241, 244);
}

h2 {
	font-family: "Trek", cursive;
	color: rgb(110, 58, 224);
	text-shadow: 1px 1px rgb(17, 241, 244);
	font-size: 54px;
}

.title {
	text-align: center;
}

.list {
	float: center;
	width: 500px;
	margin: auto;
}

li {
	font-family: 'Trek', cursive;
	font-size: 54px;
	color: rgb(17, 241, 244);
}

.image-container {
	box-shadow: 12px 12px 4px 4px rgba(0, 0, 255, .2);
	width: 45%;
	margin: auto;
}

img {
	width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
